.sb-page-header {
  position: relative;
  color: #e5e5e5;
  font-size: 20px;
}

.sb-page-header h1, h3 {
  margin-top: 0;
  color: white;
}

.sb-page-header h4 {
  color: #e6eaed;
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 1.4;
}

.sb-page-header p {
  color: #e6eaed;
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 1.4;
}

.sb-page-header .container {
  position: relative;
}

.sb-page-header .img-responsive {
  margin: auto 20px;
}

@media (min-width: 768px) {
  .sb-page-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}
